<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-pills">
  <a class="navbar-brand" href="#">AngularWorking</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/lugares" class="nav-link">Inicio</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/detalles" class="nav-link">Detalles</a>
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/contacto" class="nav-link">Contacto</a>
      </li>
      
    </ul>
    
  </div>
</nav>

<div class="cuadrado" [@contenedor]="state" (@contenedor.start)="animationStart($event)"></div>
<button class="btn btn-secondary" (click)="animar()" >Animar</button>

<router-outlet></router-outlet>